<div id="special">
    Vivamus nisi augue, ornare sit amet imperdiet sagittis, ultricies eget tellus. Aenean quis elit libero. Mauris congue dolor sed nisl iaculis vel egestas justo rutrum. Nulla ut nulla accumsan eros iaculis cursus quis sit amet ipsum. Curabitur ut turpis non metus tincidunt hendrerit ut a arcu.
</div>
