<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Themes Helper</title>
        <link href="@Themes.GetResourcePath("Styles", "Red.css")" rel="stylesheet" type="text/css" />
	</head>
	<body>
        @Helpers.ThemePicker()
        @RenderBody()
	</body>
</html>